@import "_index.scss";
@import "_footer.scss";
@import "_franquicia.scss";
@import "_index.scss";
@import "_tarjetas.scss";
@import "_contacto.scss";
@font-face {
    font-family: "Montserrat bold";
    src: url("../fonts/static/Montserrat-Bold.ttf");
}
@font-face {
    font-family: "MontserrarRegular";
    src: url(../fonts/static/Montserrat-Regular.ttf);
}


